<% provide(:title, 'About') %>

<h1>This is the about page of the site</h1>
<ul>
  <li>
    There is will be header
  </li>
  <li>
    There will be footer
  </li>
  <li>
    There will be description of the site
  </li>
</ul>