<% provide(:title, 'Help') %>

<h1> This is the help page of the site</h1>
<ul>
  <li>
    There will be a search box in this page
  </li>
  <li>
    There will a header
  </li>
  <li>
    There will be a footer
  </li>
</ul>
